.containerr {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  width: 100%;
  max-width: 1285px;
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.sections {
  margin-top: 50px;
}

.section {
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #006d77;
}

h5 {
  margin-bottom: 30px;
  font-size: 22px;
  color: #293241;
}

.cardds {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.cardd {
  border: 1px solid #4f6d7a;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.cardd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.status-buttons {
  display: flex;
  gap: 5px;
}

.cardd-body {
  display: flex;
  flex-direction: column;
}

.cardd-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardd-text {
  flex: 1;
}

.cardd-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.status {
  font-weight: normal;
  color: #293241;
  font-size: 14px;
}

.icon {
  font-size: 15px;
  color: #83C5BE;
}


.accept-link, .decline-link, .delete-link {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.accept-link {
  background-color: #006d77;
  color: white;
}

.decline-link {
  background-color: #E63946;
  color: white;
}

.delete-link {
  background-color: #E63946;
  color: white;
  margin-top: 25px;
}

.accommodation-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 12px 0 12px 0;
}

p {
  margin: 0;
  font-size: 14px;
  color: #006d77;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #006d77;
}

.dates, .location {
  margin-top: 10px;
}

.dates {
  color: #006d77;
}

.location {
  color: #293241;
}

.alert {
  border-radius: 8px;
}

.alert-info {
  background-color: #83C5BE;
  color: white;
}

.alert-warning {
  background-color: #E63946;
  color: white;
}
