.mapboxgl-popup {
  max-width: 200px;
  border-radius: 4px;
  background-color: white;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.img-window {
  max-height: 100%;
  max-width: 120px;
  object-fit: cover;
  margin-bottom: 4px;
}

.mapboxgl-marker path {
  fill: #83C5BE;
}
