.search-label {
  font-size: 14px;
  color: rgb(61, 59, 59);
  padding-left: 2px;
  padding-right: 2px;
}

.search-input {
  font-size: 14px;
  background-color: none;
  border: solid rgb(194, 194, 194);
  border-width: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.search-bar {
  border: solid grey;
  border-radius: 4px;
  padding: 8px;
  border-width: 1px;
  padding-inline: 2%;
}

.search-button {
  border-radius: 4px;
  background-color: #83C5BE;
  color: white;
  font-size: 14px;
  width: 75px;
  height: 30px;
  text-align: center;
  border: none;
  margin-left: 12px;
}

